<button role="button" aria-label="Add Green Apple Cinnamon" class="addButton add-button button button-primary small" data-gtm-action="add flavor" data-gtm-label="Green Apple Cinnamon">
<span class="plusicon">+</span>
<span> 
{{ setting.button_title }}
</span>
</button>
{%- liquid 
    if setting.show_quantity_selector
    render 'product-quantity-custom-bundle', variant: current_variant, id: section.id 
    endif
  -%}
