{% schema %}
  {
    "name": "recharge_login_redirect",
    "settings": []
  }
{% endschema %}

<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<form id='login_with_shopify_customer_id' action='/tools/recurring/get-subscription-access'></form><script>document.querySelector('#login_with_shopify_customer_id').submit()</script>
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
